{% extends 'adminPanel/base.html' %}
{% load static %}
{% block title %}<title>Javoblar</title>{% endblock title %}
{% block style %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/answers.css' %}"> {% endcomment %}
    <style>
        .position-icons {
            color: inherit;
        }
        .position-icons:hover {
            color: green;
        }
        .position-icons:nth-child(2) {
            margin-left: 20px;
        }
        .position-icons:nth-child(2):hover {
            color: red;
        }
          .navbar-sidebar .navbar__list .noti__item i {
            font-size: 20px;
            color: inherit;
          }
          .navbar-sidebar .navbar__list .noti__item .quantity {
            left: 11px;
            top: 11px;
            right: unset;
          }
          .modal::before {
            content: none;
          }
          body {
            overflow: hidden;
          }
          .appeal__filter {
            position: fixed;
            left: 320px;
            top: 120px;
            background-color: #fff;
          
            width: 250px;
            padding: 20px;
          }
          .appeal__filter_in_date {
            left: unset;
            right: 20px;
          }
          .appeal__filter ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }
          .appeal__filter h4 {
            margin-bottom: 10px;
          }
          .appeal__filter label:hover {
            color: #4272d7;
            cursor: pointer;
          }
          .appeal__filter select:hover,
          .appeal__filter input[type="radio"]:hover {
            cursor: pointer;
          }
          .modal-answer-textarea {
            padding: 10px;
          }
          #accepted {
            display: none;
          }
          #accepted + label {
            margin-left: 30px;
          }
          #rejected {
            display: none;
          }
          #rejected + label {
            margin-left: 30px;
          }
          #accepted:checked + label {
            color: green;
          }
          #rejected:checked + label {
            color: red;
          }
          
          .modal-answer-textarea {
            height: 300px !important;
            max-height: 300px;
          }
          
        #in_site {
            display: none;
        }
        #in_email {
            display: none;
        }
        #in_site_and_email {
            display: none;
        }
        
        #in_site:checked + label {
            color: green;
        }
        #in_email:checked + label {
            color: green;
        }
        #in_site_and_email:checked + label {
            color: green;
        }
        
        #in_site + label {
            margin-left: 35px;
        }
        
        #in_email + label {
            margin-left: 35px;
        }
        #in_site_and_email + label {
            margin-left: 35px;
        }
        
        #send_answer {
            display: none;
        }
        #save_answer {
            display: none;
        }
        
        #send_answer:checked + label {
            color: green;
        }
        #save_answer:checked + label {
            color: #bbbb05;
        }
        
        #send_answer + label {
            margin-left: 35px;
        }
        #save_answer + label {
            margin-left: 35px;
        }
        
        label:hover {
            cursor: pointer;
        }
        .table-earning tbody td {
            white-space: unset;
            vertical-align: middle;
        }
        .table-responsive.table--no-card {
            max-height: 650px;
        }

        tr th:first-child,
        tr td:first-child {
            padding: 22px;
        }
        thead {
            position: sticky;
            top: 0;
        }
    </style>
{% endblock style %}
{% block header_mobile_nav %}
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a class="" href="{% url 'dashboard' request.user.username %}">
                        <i class="fas fa-chart-bar"></i>Statistika</a>
                </li>
                <li class=" noti__item">
                    <a href="{% url 'appeals' %}">
                        <i class="fas fa-envelope"></i>
                        <span class="quantity">1</span>
                        Murojaatlar
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-reply"></i>Javoblar</a>
                </li>
                <li>
                    <a href="form.html">
                        <i class="far fa-comments"></i>Chat</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock header_mobile_nav %}
{% block aside_nav %}
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li>    
                <a class="js-arrow" href="{% url 'dashboard' request.user.username %}">
                    <i class="fas fa-chart-bar"></i>Statistika</a>
            </li>
            <li>
                <a href="{% url 'appeals' %}">
                    <i class="fas fa-envelope"></i>Murojaatlar</a>
            </li>
            <li class="active has-sub">
                <a href="#">
                    <i class="fas fa-reply"></i>Javoblar</a>
            </li>
            <li>
                <a href="form.html">
                    <i class="fas fa-comments"></i>Chat</a>
            </li>
            <li>
                <a href="{% url 'applicants-view' %}">
                    <i class="fas fa-book"></i>Murojaatchilar paneli</a>
            </li>
        </ul>
    </nav>
{% endblock aside_nav %}
{% block search %}
    <form class="form-header" action="" method="POST">
        <input class="au-input au-input--xl" type="text" name="search" placeholder="Javoblarni qidirish..." />
        <button class="au-btn--submit" type="submit">
            <i class="zmdi zmdi-search"></i>
        </button>
    </form>
{% endblock search %}
{% block content %}
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                {% if answers %}
                    <div class="appeal__filter">
                        <h4>Viloyat</h4>
                        <select class="w-100 p-1">
                            <option>umumiy</option>
                            <option>Toshkent</option>
                            <option>Samarqand</option>
                            <option>Andijon</option>
                            <option>Fargona</option>
                            <option>Namangan</option>
                            <option>Qashqadaryo</option>
                            <option>Surxondaryo</option>
                            <option>Buxoro</option>
                            <option>Navoiy</option>
                            <option>Xorazm</option>
                            <option>Sirdaryo</option>
                            <option>Jizzax</option>
                            <option>Qoraqalpog'iston Respublikasi</option>
                        </select>
                        <hr>
                        <h4>Murojaat yo'nalishi</h4>
                        <select class="w-100 p-1">
                            <option class="">umumiy</option>
                            <option class="">Diplom olish masalalari</option>
                            <option class="">Ishga joylash, ishdagi tortishuv, oylik maoshi</option>
                            <option class="">Kontrakt to'lovi to'g'risida</option>
                            <option class="">Magistratura masalalari</option>
                            <option class="">Fuqarolar murojaatlari to'g'risida</option>
                            <option class="">Moliyaviy masalalar</option>
                            <option class="">Talaba ustidan shikoyat</option>
                            <option class="">Rahbar faoliyatidan norozilik arizasi</option>
                            <option class="">Stipendiya masalalari</option>
                            <option class="">O'qishga kirish to'g'risida</option>
                            <option class="">O'qishni ko'chirish to'g'risida</option>
                            <option class="">O'qishni tiklash to'g'risida</option>
                            <option class="">Ijodiy imtihondan norozilik to'g'risida</option>
                            <option class="">Diplom xaqqoniyligini tasdiqlab berish to'g'risida</option>
                            <option class="">Nafaqa masalalari</option>
                            <option class="">Arxiv ma'lumotlarini olish to'grisida</option>
                            <option class="">Ikkinchi mutaxasislik</option>
                            <option class="">Kitob nashr qilish</option>
                            <option class="">Ixtiro qilish taklifi</option>
                            <option class="">Taklif va minnatdorchilik</option>
                            <option class="">Sirtqi o'qish masalalari</option>
                            <option class="">Yotoqxona masalalari bo'yicha</option>
                            <option class="">Olimpiada masalasi bo'yicha</option>
                            <option class="">Boshqa savollar</option>
                        </select>
                        <hr>
                        <h4>Murojaat turi</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" checked name="appeal_type">
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="appeal_type">
                                    Ariza
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="appeal_type">
                                    Shikoyat
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="appeal_type">
                                    Taklif
                                </label>
                            </li>
                        </ul>
                        <hr>
                        <h4>Murojaatchi turi</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" checked name="applicant_type">
                                    umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="applicant_type">
                                    Yuridik shaxs
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="applicant_type">
                                    Jismoniy shaxs
                                </label>
                            </li>
                        </ul>
                        <hr>
                        <h4>Kim tomonidan</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" checked name="by_whom" >
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="by_whom">
                                    Talaba
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="by_whom">
                                    O'qituvchi
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="by_whom">
                                    Ota ona
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="appeal__filter appeal__filter_in_date">
                        <h4>Murojaat holati</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" checked name="condition" >
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="condition">
                                    Bajarilgan
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="condition">
                                    Rad etilgan
                                </label>
                            </li>
                        </ul>
                        <hr>
                        <h4>Adminlar</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" checked name="answer_admin" >
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="answer_admin">
                                    Admin1
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="answer_admin">
                                    Admin2
                                </label>
                            </li>
                        </ul>
                        <hr>
                        <h4>Sana</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" checked name="date" >
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="date">
                                    bugun
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="date">
                                    oxirgi xafta
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="date">
                                    oxirgi oy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="date">
                                    Oxirgi yil
                                </label>
                            </li>
                        </ul>
                        <hr>
                        <h4>Sana bo'yicha qidirish</h4>
                        <form action="" method="POST">
                            <input class="au-input" type="text" name="search" placeholder="DD-MM-YYYY" />{% csrf_token %}
                            <button class="au-btn--submit p-3 float-right mt-1" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <h2 class="title-1 m-b-25">Javoblar</h2>
                            <div class="table-responsive table--no-card m-b-40">
                                <table class="table table-fixed table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th style="text-align: center">Murojaat</th>
                                            <th>Admin</th>
                                            <th>Javob turi</th>
                                            <th>file</th>
                                            <th>Sana</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for answer in answers %}
                                            <tr>
                                                <th>{{ forloop.counter }}</th>
                                                <td data-toggle="modal" data-target="#scrollmodal" style="word-break: break-all;">{{ answer.appeal}}</td>
                                                <td>{{ answer.author }}</td>
                                                <td>{{ answer.answer_type }}</td>
                                                {% if answer.file %}
                                                    <td>{{ answer.file }}</td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                                <td>{{ answer.updated_date }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ forloop.counter }}</th>
                                                <td data-toggle="modal" data-target="#scrollmodal" style="word-break: break-all;">{{ answer.appeal}}</td>
                                                <td>{{ answer.author }}</td>
                                                <td>{{ answer.answer_type }}</td>
                                                {% if answer.file %}
                                                    <td>{{ answer.file }}</td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                                <td>{{ answer.updated_date }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ forloop.counter }}</th>
                                                <td data-toggle="modal" data-target="#scrollmodal" style="word-break: break-all;">{{ answer.appeal}}</td>
                                                <td>{{ answer.author }}</td>
                                                <td>{{ answer.answer_type }}</td>
                                                {% if answer.file %}
                                                    <td>{{ answer.file }}</td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                                <td>{{ answer.updated_date }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ forloop.counter }}</th>
                                                <td data-toggle="modal" data-target="#scrollmodal" style="word-break: break-all;">{{ answer.appeal}}</td>
                                                <td>{{ answer.author }}</td>
                                                <td>{{ answer.answer_type }}</td>
                                                {% if answer.file %}
                                                    <td>{{ answer.file }}</td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                                <td>{{ answer.updated_date }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h2 class="title-1 m-b-25">Xozircha Javoblar yo'q</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
{% endblock content %}
{% block modal %}
    <!-- modal scroll -->
    <div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollmodalLabel"><span style="font-weight: normal;">{{ answers.0.appeal }}</span> murojaatiga javob</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                            <h5 style="margin-bottom: 5px">Murojaat:</h5>
                            <p style="text-decoration: underline; margin-left: 20px">{{ answers.0.appeal }}</p>
                        </li>
                        <li style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                            <h5 style="margin-bottom: 5px">Javob holati:</h5>
                            {% if answers.0.active == 'send' %}
                                <p style="text-decoration: underline; margin-left: 20px">Yuborilgan</p>
                            {% else %}
                                <p style="text-decoration: underline; margin-left: 20px">Saqlab qo'yilgan</p>
                            {% endif %}
                        </li>
                        <li style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                            <h5 style="margin-bottom: 5px">Murojaat holati:</h5>
                            {% if answers.0.answer_type == 'done' %}
                                <p style="text-decoration: underline; margin-left: 20px">Bajarilgan</p>
                            {% else %}
                                <p style="text-decoration: underline; margin-left: 20px">Rad etilgan</p>
                            {% endif %}
                        </li>
                        <li style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                            <h5 style="margin-bottom: 5px">admin:</h5>
                            <p style="text-decoration: underline; margin-left: 20px">{{ answers.0.author }}</p>
                        </li>
                        <li style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                            <h5 style="margin-bottom: 5px">Javob manzili:</h5>
                            <p style="text-decoration: underline; margin-left: 20px">{{ answers.0.answer_address }} orqali</p>
                        </li>
                        <li style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                            <h5 style="margin-bottom: 5px">Javob yuborilgan sana:</h5>
                            <p style="text-decoration: underline; margin-left: 20px">{{ answers.0.updated_date }}</p>
                        </li>
                        <li style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                            <h5 style="margin-bottom: 5px">Javob fayl ko'rinishi:</h5>
                            <p style="text-decoration: underline; margin-left: 20px">{{ answers.0.file }}</p>
                        </li>
                        <li style="padding: 5px 0;">
                            <h5 style="margin-bottom: 20px">Javob mazmuni:</h5>
                            <p style="border: 1px solid #ccc; padding: 10px; height: 300px; overflow-y: scroll;">
                                {{ answers.0.text }}
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ortga</button>
                    <button type="button" class="btn btn-primary">O'zgartirish</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal scroll -->
{% endblock modal %}
