{% extends 'adminPanel/base.html' %}

{% load static %}

{% block title %}<title>Javoblar</title>{% endblock title %}

{% block style %}
    <style>
        ul, li {
            list-style-type: none;
        }
        .position-icons {
            color: inherit;
        }
        .position-icons:hover {
            color: green;
        }
        .position-icons:nth-child(2) {
            margin-left: 20px;
        }
        .position-icons:nth-child(2):hover {
            color: red;
        }
          .navbar-sidebar .navbar__list .noti__item i {
            font-size: 20px;
            color: inherit;
          }
          .navbar-sidebar .navbar__list .noti__item .quantity {
            left: 11px;
            top: 11px;
            right: unset;
          }
          .modal::before {
            content: none;
          }
          body {
            overflow: hidden;
          }
          .appeal__filter {
            position: fixed;
            left: 320px;
            top: 120px;
            background-color: #fff;
          
            width: 250px;
            padding: 20px;
          }
          .appeal__filter_in_date {
            left: unset;
            right: 20px;
          }
          .appeal__filter ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }
          .appeal__filter h4 {
            margin-bottom: 10px;
          }
          .appeal__filter label:hover {
            color: #4272d7;
            cursor: pointer;
          }
          .appeal__filter select:hover,
          .appeal__filter input[type="radio"]:hover {
            cursor: pointer;
          }
          .modal-answer-textarea {
            padding: 10px;
          }
          #accepted, #done {
            display: none;
          }
          #accepted + label, 
          #done + label {
            margin-left: 30px;
          }
          #rejected {
            display: none;
          }
          #rejected + label {
            margin-left: 30px;
          }
          #accepted + label, 
          #done:checked + label {
            color: green;
          }
          #rejected:checked + label {
            color: red;
          }
          
          .modal-answer-textarea {
            height: 300px !important;
            max-height: 300px;
          }
          
        #in_site {
            display: none;
        }
        #in_email {
            display: none;
        }
        #in_site_and_email {
            display: none;
        }
        
        #in_site:checked + label {
            color: green;
        }
        #in_email:checked + label {
            color: green;
        }
        #in_site_and_email:checked + label {
            color: green;
        }
        
        #in_site + label {
            margin-left: 35px;
        }
        
        #in_email + label {
            margin-left: 35px;
        }
        #in_site_and_email + label {
            margin-left: 35px;
        }
        
        #send_answer {
            display: none;
        }
        #save_answer {
            display: none;
        }
        
        #send_answer:checked + label {
            color: green;
        }
        #save_answer:checked + label {
            color: #bbbb05;
        }
        
        #send_answer + label {
            margin-left: 35px;
        }
        #save_answer + label {
            margin-left: 35px;
        }
        
        label:hover {
            cursor: pointer;
        }
        .table-earning tbody td {
            white-space: unset;
            vertical-align: middle;
        }
        .table-responsive.table--no-card {
            max-height: 650px;
        }

        tr th:first-child,
        tr td:first-child {
            padding: 22px;
        }
        thead {
            position: sticky;
            top: 0;
        }
        .appeals_cnt {
            text-transform: lowercase; 
            font-size: 65%;
            background: #cccccc82;
            border-radius: 20px;
            padding: 2px 10px;
        }
    </style>
{% endblock style %}

{% block header_mobile_nav %}
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a class="" href="{% url 'dashboard' request.user.username %}">
                        <i class="fas fa-chart-bar"></i>
                        Statistika
                    </a>
                </li>
                <li class="noti__item">
                    <a href="{% url 'appeals' %}">
                        <i class="fas fa-envelope"></i>
                        
                        <span class="quantity"></span>
                            
                        Murojaatlar
                    </a>
                </li>
                <li>
                    <a href="{% url 'answers' %}">
                        <i class="fas fa-reply"></i>
                        Javoblar
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock header_mobile_nav %}

{% block aside_nav %}
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li>
                <a class="js-arrow" href="{% url 'dashboard' request.user.username %}">
                    <i class="fas fa-chart-bar"></i>Statistika</a>
            </li>
            <li class="noti__item ">
                <a href="{% url 'appeals' %}">
                    <i class="fas fa-envelope"></i>
                    {% if new_appeals_cnt > 0 %}
                        <span class="quantity" id="quantity">{{ new_appeals_cnt }}</span>
                    {% endif %}
                    Murojaatlar
                </a>
            </li>
            <li class="active has-sub">
                <a href="#">
                    <i class="fas fa-reply"></i>Javoblar</a>
            </li>
            <li>
                <a href="{% url 'applicants-view' %}">
                    <i class="fas fa-book"></i>Murojaatchilar paneli</a>
            </li>
            <li>
                <a href="#" class="classes">titles gets</a>
                <a href="#" class="classes">titles gets</a>
                <a href="#" class="classes">titles gets</a>
            </li>
        </ul>
    </nav>
{% endblock aside_nav %}


{% block search %}
    <form class="form-header" action="{% url 'appeals' %}">
        <input id="search" onInput='myFunction()' class="au-input au-input--xl" type="text" name="search" placeholder="Javobni qidirish..." />
        <button class="au-btn--submit" type="submit">
            <i class="zmdi zmdi-search"></i>
        </button>
    </form>
    <form class="form-header" action="{% url 'appeals' %}" method="get">
        <input id="search_in_date" onInput='myFunction()' class="au-input" type="date" name="search_in_date" max="{{ today_date }}"/>
        <button class="au-btn--submit" type="submit">
            <i class="zmdi zmdi-search"></i>
        </button>
    </form>
{% endblock search %}
{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            {% if answers %}
                <form method="get">
                    <div class="appeal__filter">
                        <h4>Viloyat</h4>
                        <select id="applicant_province" onInput='myFunction()' class="w-100 p-1" name="province">
                            <option value="all">umumiy</option>
                            <option value="toshkent">Toshkent</option>
                            <option value="samarqand">Samarqand</option>
                            <option value="andijon">Andijon</option>
                            <option value="fargona">Fargona</option>
                            <option value="namangan">Namangan</option>
                            <option value="qashqadaryo">Qashqadaryo</option>
                            <option value="surxondaryo">Surxondaryo</option>
                            <option value="buxoro">Buxoro</option>
                            <option value="navoiy">Navoiy</option>
                            <option value="xorazm">Xorazm</option>
                            <option value="sirdaryo">Sirdaryo</option>
                            <option value="jizzax">Jizzax</option>
                            <option value="qoraqalpoq">Qoraqalpog'iston Respublikasi</option>
                        </select>
                        <hr>
                        <h4>Javob yo'nalishi</h4>
                        <select id="appeal_direction" onInput='myFunction()' class="w-100 p-1" name="appeal_direction">
                            <option value="all">umumiy</option>
                            <option value="diplom_olish">Diplom olish masalalari</option>
                            <option value="ishga_joylash">Ishga joylash, ishdagi tortishuv, oylik maoshi</option>
                            <option value="kontrakt_tolovi">Kontrakt to'lovi to'g'risida</option>
                            <option value="mag_masalalari">Magistratura masalalari</option>
                            <option value="fuqarolar_murojaatlari">Fuqarolar murojaatlari to'g'risida</option>
                            <option value="moliyaviy_masalalar">Moliyaviy masalalar</option>
                            <option value="talaba_ustidan">Talaba ustidan shikoyat</option>
                            <option value="rahbar_faoliyatidan">Rahbar faoliyatidan norozilik arizasi</option>
                            <option value="stipendiya_masalalari">Stipendiya masalalari</option>
                            <option value="oqishga_kirish">O'qishga kirish to'g'risida</option>
                            <option value="oqishni_kochirish">O'qishni ko'chirish to'g'risida</option>
                            <option value="oqishni_tiklash">O'qishni tiklash to'g'risida</option>
                            <option value="ijodiy_imtihondan">Ijodiy imtihondan norozilik to'g'risida</option>
                            <option value="diplom_xaqqoniyligini">Diplom xaqqoniyligini tasdiqlab berish to'g'risida</option>
                            <option value="nafaqa_masalalari">Nafaqa masalalari</option>
                            <option value="arxiv_malumotlarini">Arxiv ma'lumotlarini olish to'grisida</option>
                            <option value="ikkinchi_mutaxasislik">Ikkinchi mutaxasislik</option>
                            <option value="kitob_nashr">Kitob nashr qilish</option>
                            <option value="ixtiro_qilish">Ixtiro qilish taklifi</option>
                            <option value="taklif_va">Taklif va minnatdorchilik</option>
                            <option value="sirtqi_oqish">Sirtqi o'qish masalalari</option>
                            <option value="yotoqxona_masalalari">Yotoqxona masalalari bo'yicha</option>
                            <option value="olimpiada_masalasi">Olimpiada masalasi bo'yicha</option>
                            <option value="boshqa_yo">Boshqa savollar</option>
                        </select>
                        <hr>

                        <h4>Murojaat turi</h4>
                        <ul>
                            <li>
                                <label>
                                    <input onclick='myFunction()' type="radio" checked name="appeal_type" value="all">
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input onclick='myFunction()' type="radio" name="appeal_type" value="ariza">
                                    Ariza
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input onclick='myFunction()' type="radio" name="appeal_type" value="shikoyat">
                                    Shikoyat
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input onclick='myFunction()' type="radio" name="appeal_type" value="taklif">
                                    Taklif
                                </label>
                            </li>
                        </ul>
                        <hr>


                        <h4>Javob turi</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' checked name="answer_type" value="all">
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="answer_type" value="done">
                                    Bajarilgan 
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="answer_type" value="rejected">
                                    Rad etilgan
                                </label>
                            </li>
                        </ul>

                        
                        {% if admins %}

                            <hr>
                            <h4>Admin</h4>
                            <ul style="overflow-y: scroll; max-height: 140px">
                                <li>
                                    <label>
                                        <input type="radio" onclick='myFunction()' checked name="answer_author" value="all">
                                        umumiy
                                    </label>
                                </li>
                                {% for admin in admins %}
                                    <li>
                                        <label>
                                            <input type="radio" onclick='myFunction()' name="answer_author" value="{{ admin.id }}">
                                            {{ admin.username }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                            
                        {% endif %}
                            

                    </div>

                    <div class="appeal__filter appeal__filter_in_date">
                        <h4>Javob manzili</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()'  checked name="answer_address" value="all">
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="answer_address" value="site">
                                    sayt
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="answer_address" value="email">
                                    email
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="answer_address" value="site_and_email">
                                    sayt va email
                                </label>
                            </li>
                        </ul>
                        <hr>

                        <h4>Javob holati</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' checked name="active" value="all">
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="active" value="send">
                                    Yuborilgan
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="active" value="save">
                                    Saqlab qo'yilgan
                                </label>
                            </li>
                        </ul>
                        <hr>

                        <h4>Sana</h4>
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' checked name="date" value="all">
                                    Umumiy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="date" value="day">
                                    oxirgi sutka
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="date" value="week">
                                    oxirgi xafta
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="date" value="month"> 
                                    oxirgi oy
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" onclick='myFunction()' name="date" value="year">
                                    Oxirgi yil
                                </label>
                            </li>
                        </ul>
                    </div>

                </form>
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <h2 class="title-1 m-b-25" id="appeals_cnt">Javoblar <small class="answers_cnt" id="answers_cnt">{{ answers_cnt }} ta</small></h2>
                        
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-fixed table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th style="text-align: center">Murojaat</th>
                                        <th>Admin</th>
                                        <th>Javob turi</th>
                                        <th>Sana</th>
                                        <th>file</th>
                                    </tr>
                                </thead>
                                <tbody id="answersList">
                                    {% for answer in answers %}
                                        <tr>
                                            <th>{{ forloop.counter }}</th>
                                            
                                            {% if answer.appeal %}
                                                <td onclick="openSingleAppeal({{answer.id}})" data-toggle="modal" data-target="#scrollmodal" style="word-break: break-all;">{{ answer.appeal}}</td>
                                            {% else %}
                                                <td onclick="openSingleAppeal({{answer.id}})" data-toggle="modal" data-target="#scrollmodal" style="word-break: break-all;">O'chirilgan</td>
                                            {% endif %}
                                                
                                            <td>{{ answer.author }}</td>
                                            {% if answer.answer_type == 'done' %}
                                                <td>Yuborilgan</td>
                                            {% else %}
                                                <td>Saqlab qo'yilgan</td>
                                            {% endif %}
                                            <td>{{ answer.updated_date_format }}</td>
                                            {% if answer.file %}
                                                <td>
                                                    <a href="{% url 'download-answerFile' answer.id %}" style="color: #4272d7">{{ answer.filename }}</a>
                                                </td>
                                            {% else %}
                                                <td>-</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <h2 class="title-1 m-b-25">Xozircha javob qaytarilmagan</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block modal %}
    <!-- <div id="single_answer"></div> -->
    <div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="single-appeal">
                <div class="modal-header">
                    <h5 class="modal-title d-flex justify-content-between w-100" id="scrollmodalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="appeal_detail"></div>

                    <div class="text-right mt-2" id="edit_answer">
                        <button id="back" type="button" class="btn btn-secondary" data-dismiss="modal">ortga</button>
{#                        <button id="delete_answer" type="button" class="btn btn-danger">o'chirish</button>#}
                        <button onclick="editAnswer()" type="button" class="btn btn-primary" id="edit_btn">O'zgartirish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}
{% block scripts %}
    <script>
        function myFunction() {
            var country_optionValue = document.getElementById("applicant_province").value;
            var direction_optionValue = document.getElementById("appeal_direction").value;
            var appeal_type_optionValue = document.querySelector("input[name='appeal_type']:checked").value;
            var answer_type_optionValue = document.querySelector("input[name='answer_type']:checked").value;
            var answer_status_optionValue = document.querySelector("input[name='active']:checked").value;
            var answer_address_optionValue = document.querySelector("input[name='answer_address']:checked").value;
            var date_optionValue = document.querySelector("input[name='date']:checked").value;
            var author_optionValue = document.querySelector("input[name='answer_author']:checked").value;

            // Search
            var search_optionValue = document.getElementById("search").value;
            var search_in_date_optionValue = document.getElementById("search_in_date").value;

            $.ajax({
                url: '{% url "answers" %}',
                datatype: 'json',
                data: {
                    'applicant_province': country_optionValue,
                    'appeal_direction': direction_optionValue,
                    'appeal_type': appeal_type_optionValue,
                    'answer_type': answer_type_optionValue,
                    'active': answer_status_optionValue,
                    'answer_address': answer_address_optionValue,
                    'date': date_optionValue,
                    'author': author_optionValue,

                    'search': search_optionValue,
                    'search_in_date': search_in_date_optionValue,
                },
                type: 'GET',
                success: function(data) {
                    const answersList = document.getElementById("answersList");
                    answersList.innerHTML = "";

                    const answers_cnt = document.getElementById("answers_cnt");
                    answers_cnt.innerHTML = "";
                    const answers_cntHTMLElement = `<small class="answers_cnt">${ data.answers_cnt } ta</small>`
                    answers_cnt.innerHTML += answers_cntHTMLElement;

                    var counter = 1;
                    (data.answers).forEach(answer => {
                        var answerHTMLElement = `
                            <tr>
                                <th>${ counter }</th>
                                <td onclick="openSingleAppeal(${answer.id})" data-toggle="modal" data-target="#scrollmodal" style="word-break: break-all;">${ answer.appeal}</td>
                                <td>${ answer.author }</td>
                                <td>${answer.answer_type}</td>
                                <td>${ answer.updated_date }</td>
                                <td>
                                    <a href="/admin/answers/download-answerfile/${answer.id}/" style="color: #4272d7">
                                        ${ answer.file }
                                    </a>
                                </td>
                            </tr>`

                        answersList.innerHTML += answerHTMLElement;
                        counter += 1;
                    });
                }
            });

        }

        function openSingleAppeal(id) {
            $('#delete_answer').attr('onclick', `deleteAnswer(${id})`);

            $.ajax({
                url: "{% url 'single-answer' %}",
                dataType: 'json',
                data: {
                    'id': id,
                },
                type: 'GET',

                success: function(data) {
                    answer = data.answer;


                    const edit_answer = document.getElementById('edit_answer');
                    const edit_btn = document.getElementById('edit_btn');

                    if (answer.active == 'send' || answer.appeal_id == null) {
                        edit_btn.classList.add('d-none');
                    }

                    else {
                        edit_btn.value = answer.id;
                        edit_btn.classList.remove('d-none');
                        edit_btn.innerHTML = "O'zgartirish";
                        $('#edit_btn').attr('onclick', 'editAnswer()');
                    }
                    $('#back').attr('onclick', ``);
                    $('#back').attr('data-dismiss', 'modal');


                    //const answer_text = document.getElementById("answer_text");
                    //answer_text.value = "";

                    //const answer_appeal = document.getElementById("answer_appeal");
                    //answer_appeal.value = answer.appeal;

                    const answer_address = document.getElementById("answer_address");


                    const answer_name = document.getElementById("scrollmodalLabel");
                    answer_name.innerHTML = `<span><span id="appeal_view" class="mr-2" style="color: #4272d7; cursor: pointer;">${answer.appeal}</span> javobi</span><span id="appeal_status" style="color: #bbbb05;">${answer.answer_type}</span>`;

                    const answer_detail = document.getElementById("appeal_detail");
                    answer_detail.innerHTML = "";
                    answer_detail.innerHTML += `
                        <ul>
                            <li id="for_email" style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                                <h5 style="margin-bottom: 5px">Murojaatchi F I O:</h5>
                                <p style="margin-left: 20px">${answer.appeal}</p>
                            </li>
                            <li id="answer_address" style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                                <h5 style="margin-bottom: 5px">Javob manzili:</h5>
                                <p style="margin-left: 20px">${answer.answer_address}</p>
                            </li>
                            <li id="answer_active" style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                                <h5 style="margin-bottom: 5px">Javob holati:</h5>
                                <p style="margin-left: 20px">${answer.active_display}</p>
                            </li>
                            <li id="instance_author" style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                                <h5 style="margin-bottom: 5px">admin:</h5>
                                <p style="margin-left: 20px">${answer.author}</p>
                            </li>
                            <li id="answer_type" style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                                <h5 style="margin-bottom: 5px">Javob turi:</h5>
                                <p style="margin-left: 20px">${answer.answer_type}</p>
                            </li>
                            <li id="date_created_instance" style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                                <h5 style="margin-bottom: 5px">yaratilgan sana:</h5>
                                <p style="margin-left: 20px">${answer.created_date}</p>
                            </li>
                            <li id="date_updated_instance" style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                                <h5 style="margin-bottom: 5px">o'zgartirilgan sana:</h5>
                                <p style="margin-left: 20px">${answer.updated_date}</p>
                            </li>
                            <li id="file_instance" style="padding: 5px 0; border-bottom: 1px solid #ccc; margin-bottom: 10px">
                                <h5 style="margin-bottom: 5px">Fayl ko'rinishi:</h5>
                                <p style="margin-left: 20px"><a href="/admin/answers/download-answerfile/${answer.id}/">${answer.file}</a></p>
                            </li>
                            <li id="answer_text" style="padding: 5px 0;">
                                <h5 style="margin-bottom: 20px">Javob matni:</h5>
                                <p style="border: 1px solid #ccc; padding: 15px 10px; max-height: 300px; overflow-y: scroll; word-break: break-all;">
                                    ${answer.text}
                                </p>
                            </li>
                        </ul>`


                }
            });
        }

        $(document).ready(function () {




            $('#answerForm').submit(function () {
                const answer_file = document.getElementById("answer_file");

                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: "{% url 'send-answer' %}",
                    success: function (response) {

                        const appeal_answers = document.getElementById('appeal_answers');
                        document.getElementById('appeal_status').innerHTML = `${response.appeal_status}`;

                        if (response.appeal_answers != false) {
                            document.getElementById('answerForm').reset();

                            appeal_answers.innerHTML = `
                            <div class="appeal_answers_header">
                                <h5 style="margin-bottom: 20px">Murojaat javoblari:</h5>
                            </div>
                            <div
                                id="appeal_answers_main"
                                style="max-height: 300px; padding: 15px 10px; overflow-y: scroll; border: 1px solid #ccc">
                            </div>`


                            const appeal_answers_main = document.getElementById('appeal_answers_main');
                            appeal_answers_main.innerHTML = "";
                            appeal_answers_main.innerHTML = `
                            <p class="">
                                <span>No</span>
                                <span class="ml-3">kim tomonidan</span>
                                <span class="ml-3">javob turi</span>
                                <span class="ml-3">javob manzili</span>
                                <span class="ml-3">sana</span>
                            </p>`;
                            var index = 1;
                            (response.appeal_answers).forEach(answer => {

                                if (answer.active == 'send') {

                                    appeal_answers_main.innerHTML += `
                                    <p class="">
                                        <span class="">${index}.</span>
                                        <a class="" href="#" style="margin-left: 30px">${answer.author}</a>
                                        <a class="" href="#" style="margin-left: 86px">${answer.answer_type}</a>
                                        <a class="" href="#" style="margin-left: 26px">${answer.answer_address}</a>
                                        <a class="" href="#" style="margin-left: 86px">${answer.created_date}</a>
                                    </p>`;
                                }

                                else {

                                    appeal_answers_main.innerHTML += `
                                    <p class="">
                                        <span class="">${index}.</span>
                                        <a class="" href="#" style="margin-left: 30px; color: #bbbb05">${answer.author}</a>
                                        <a class="" href="#" style="margin-left: 86px; color: #bbbb05">${answer.answer_type}</a>
                                        <a class="" href="#" style="margin-left: 26px; color: #bbbb05">${answer.answer_address}</a>
                                        <a class="" href="#" style="margin-left: 86px; color: #bbbb05">${answer.created_date}</a>
                                    </p>`;
                                }

                                index ++;
                            });

                        }

                        alert(response.result);
                    },

                });

                return false;
            });
        })


        function editAnswer() {
            answer_id = document.getElementById('edit_btn').value;

            $('#back').attr('onclick', `openSingleAppeal(${answer.id})`);
            $('#back').attr('data-dismiss', '');

            $.ajax({
                url: '{% url "edit-answer" %}',
                type: 'GET',
                dataType: 'json',
                data: {
                    'answer_id': answer_id,
                },

                success: function(data) {
                    answer = data.answer;

                    const answer_address = document.getElementById('answer_address');
                    answer_address.innerHTML = "";

                    if (answer.appeal_email) {
                        answer_address.innerHTML += `
                            <h5 style="margin-bottom: 5px">Javob manzili:</h5>
                            <input type="radio" name="answer_address_instance" value="site" id="in_site">
                            <label for="in_site">
                                <i class='fab fa-chrome'></i>
                                Sayt
                            </label>
                            <input type="radio" name="answer_address_instance" value="email" id="in_email">
                            <label for="in_email">
                                <i class="fas fa-envelope"></i>
                                Email
                            </label>
                            <input type="radio" name="answer_address_instance" value="site_and_email" id="in_site_and_email">
                            <label for="in_site_and_email">
                                <i class='fab fa-chrome'></i> Sayt va<span style="margin-left: 10px;"><i class="fas fa-envelope"></i> Email</span>
                            </label>`


                    }

                    else {
                        answer_address.innerHTML += `
                            <h5 style="margin-bottom: 5px">Javob manzili:</h5>
                            <input type="radio" name="answer_address_instance" value="site" id="in_site" checked>
                            <label for="in_site">
                                <i class='fab fa-chrome'></i>
                                Sayt
                            </label>`

                    }

                    $(`#in_${answer.answer_address}`).attr('checked', true);


                    const answer_active = document.getElementById('answer_active');
                    answer_active.innerHTML = "";

                    answer_active.innerHTML += `
                        <h5 style="margin-bottom: 5px">Javob holati:</h5>
                        <input type="radio" name="active_instance" value="send" id="send_answer" checked>
                        <label for="send_answer">
                            <i class='fa fa-send'></i>
                            Yuborilsin
                        </label>
                        <input type="radio" name="active_instance" value="save" id="save_answer">
                        <label for="save_answer">
                            <i class="fa fa-save"></i>
                            Saqlab qo'yilsin
                        </label>`

                    $(`#${answer.active}_answer`).attr('checked', true);


                    document.getElementById('instance_author').classList.add('d-none');
                    document.getElementById('date_created_instance').classList.add('d-none');
                    document.getElementById('date_updated_instance').classList.add('d-none');

                    const answer_type_instance = document.getElementById('answer_type');
                    answer_type_instance.innerHTML = "";

                    answer_type_instance.innerHTML += `
                        <h5 style="margin-bottom: 20px">Javob turi:</h5>
                        <input type="radio" name="answer_type_instance" value="done" id="done">
                        <label for="done">
                            <i class="fas fa-check"></i>
                            Bajarildi
                        </label>
                        <input type="radio" name="answer_type_instance" value="rejected" id="rejected">
                        <label for="rejected">
                            <i class="fas fa-close"></i>
                            Rad etildi
                        </label>`

                    $(`#${answer.answer_type}`).attr('checked', true);


                    const file_instance = document.getElementById('file_instance');
                    file_instance.innerHTML = "<h5 style='margin-bottom: 5px'>Fayl ko'rinishi:</h5><input type='file' name='file'>";


                    const text_instance = document.getElementById('answer_text');
                    text_instance.innerHTML = `
                        <hr style="height: 15px; background-color: #ccc; border-radius: 300%;">
                        <h4 style="margin-bottom: 20px">Javob yozish:</h4>
                        <textarea id="text_instance" name="text_instance" class="modal-answer-textarea" style="border: 1px solid #ccc; width: 100%;">${answer.text}</textarea>
                        `

                    const edit_btn = document.getElementById('edit_btn');
                    $('#edit_btn').attr('onclick', 'updateAnswer()');
                    edit_btn.innerHTML = 'yangilash';

                }
            });

        }

        function updateAnswer() {

            const answer_address = document.querySelector("input[name='answer_address_instance']:checked").value;
            const active = document.querySelector("input[name='active_instance']:checked").value;
            const answer_type = document.querySelector("input[name='answer_type_instance']:checked").value;
            const text = document.getElementById("text_instance").value;


            $.ajax({
                url: '{% url "edit-answer" %}',
                dataType: 'json',
                type: 'POST',
                data: {
                    'id': answer.id,
                    'answer_address': answer_address,
                    'active': active,
                    'answer_type': answer_type,
                    'text': text,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    alert(data.result);

                    document.getElementById('appeal_status').innerHTML = `${data.appeal_status}`;

                }

            });
        }

        function deleteAnswer(id) {

            $.ajax({
               url: '{% url "delete-answer" %}',
               datatype: 'json',
               type: 'GET',
               data: {'id': id},
                success: function (data) {
                   window.location = "{% url 'answers' %}";
                }
            });
        }

    </script>
{% endblock scripts %}
