{% extends 'adminPanel/base.html' %}
{% load static %}

{% block title %}<title>Statistika</title>{% endblock title %}
{% block style %}
    <style>
        body {
            overflow: unset;
        }

        .menu-sidebar {
            overflow: hidden;
        }

        .navbar-sidebar .navbar__list .noti__item i {
            font-size: 20px;
            color: inherit;
        }

        .navbar-sidebar .navbar__list .noti__item .quantity {
            left: 11px;
            top: 11px;
            right: unset;
        }

        .header-wrap {
            justify-content: end;
        }

        #map_holder {
            border: 1px solid #ccc;
        }

        .country_info {
            display: none;
        }

        .country_info .active {
            display: block;
        }

    </style>
    <style>
        #mapa-container {
            height: 800px;
            max-width: 100%;
            margin: 0 auto;
        }

        .loading {
            margin-top: 10em;
            text-align: center;
            color: gray;
        }
    </style>
{% endblock style %}
{% block header_mobile_nav %}
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-chart-bar"></i>Statistika</a>
                </li>
                <li>
                    <a href="{% url 'appeals' %}">
                        <i class="fas fa-envelope"></i>Murojaatlar</a>
                </li>
                <li>
                    <a href="{% url 'answers' %}">
                        <i class="fas fa-reply"></i>Javoblar</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock header_mobile_nav %}
{% block aside_nav %}
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li class="active has-sub">
                <a class="js-arrow" href="#">
                    <i class="fas fa-chart-bar"></i>Statistika</a>
            </li>
            <li class="noti__item">
                <a href="{% url 'appeals' %}">
                    <i class="fas fa-envelope"></i>
                    {% if new_appeals_cnt %}
                        <span class="quantity">{{ new_appeals_cnt }}</span>
                    {% endif %}
                    Murojaatlar
                </a>
            </li>
            <li>
                <a href="{% url 'answers' %}">
                    <i class="fas fa-reply"></i>Javoblar</a>
            </li>
            <li>
                <a href="{% url 'applicants-view' %}">
                    <i class="fas fa-book"></i>Murojaatchilar paneli</a>
            </li>
        </ul>
    </nav>
{% endblock aside_nav %}
{% block content %}
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Statistika</h2>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-around" style="margin: 100px 0;">
                    <div id="container"></div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>Murojaatlar holati</h4>
                            </div>
                            <div class="au-card">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>Murojaat turlari</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="appealType"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>Murojatchi turi</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="applicantType"></canvas>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="card">
                            <div class="card-header">
                                <h4>Kim tomonidan</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="applicantPosition"></canvas>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>Qaysi admin javob berdi</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="admins"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-header">
                                <h4>Murojaat yo'nalishi</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="directionChart" height="450"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
{% endblock content %}
{% block scripts %}
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: {{ appeal_status|safe }},
                datasets: [{
                    label: 'soni',
                    data: {{ appeal_status_cnt|safe }},
                    backgroundColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(40, 167, 69, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        const direction_ctx = document.getElementById('directionChart').getContext('2d');
        const directionChart = new Chart(direction_ctx, {

            type: 'horizontalBar',
            data: {
                labels: {{ appeal_direction|safe }},
                datasets: [{
                    indexAxis: 'y',
                    label: 'soni',
                    data: {{ appeal_direction_cnt|safe }},
                    backgroundColor: [
                        '#82bc5b',
                        '#25a335',
                        '#2d766e',
                        '#769240',
                        '#c2e358',
                        '#09e43b',
                        '#da3bbc',
                        '#78ca91',
                        '#3c3ef7',
                        '#14b8fc',
                        '#c37358',
                        '#fb9786',
                        '#a280c1',
                        '#a15762',
                        '#21bd4a',
                        '#6d24d3',
                        '#e39739',
                        '#82bc5b',
                        '#25a335',
                        '#2d766e',
                        '#769240',
                        '#c2e358',
                        '#09e43b',
                        '#da3bbc',
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        });

        const appeal_type_ctx = document.getElementById('appealType').getContext('2d');
        const appealTypeChart = new Chart(appeal_type_ctx, {

            type: 'horizontalBar',
            data: {
                labels: {{ appeal_type|safe }},
                datasets: [{
                    indexAxis: 'y',
                    label: 'soni',
                    data: {{ appeal_type_cnt|safe }},
                    backgroundColor: [
                        '#769240',
                        '#c2e358',
                        '#09e43b',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        });

        const applicant_type_ctx = document.getElementById('applicantType').getContext('2d');
        const applicantTypeChart = new Chart(applicant_type_ctx, {

            type: 'bar',
            data: {
                labels: {{ applicant_type|safe }},
                datasets: [{
                    indexAxis: 'y',
                    label: 'soni',
                    data: {{ applicant_type_cnt|safe }},
                    backgroundColor: [
                        '#09e43b',
                        '#da3bbc',
                        '#78ca91',
                    ],
                    borderWidth:  1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        });

        const applicant_position_ctx = document.getElementById('applicantPosition').getContext('2d');
        const applicantPositionChart = new Chart(applicant_position_ctx, {

            type: 'horizontalBar',
            data: {
                labels: {{ applicant_position|safe }},
                datasets: [{
                    indexAxis: 'y',
                    label: 'soni',
                    data: {{ applicant_position_cnt|safe }},
                    backgroundColor: [
                        '#82bc5b',
                        '#25a335',
                        '#2d766e',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        });

        const admins_cnt_ctx = document.getElementById('admins').getContext('2d');
        const adminsChart = new Chart(admins_cnt_ctx, {

            type: 'bar',
            data: {
                labels: {{ admin_names|safe }},
                datasets: [{
                    indexAxis: 'y',
                    label: 'soni',
                    data: {{ admin_cnt|safe }},
                    backgroundColor: [
                        '#82bc5b',
                        '#25a335',
                        '#2d766e',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        });
    </script>
    </script>

    {#    MAP ================ #}
    <script>
        (async () => {

            const topology = await fetch(
                'https://code.highcharts.com/mapdata/countries/uz/uz-all.topo.json'
            ).then(response => response.json());

            var data = [
                ['uz-ta', {{ appeal_country.0 }}], ['uz-sa', {{ appeal_country.1 }}],
                ['uz-an', {{ appeal_country.2 }}], ['uz-fa', {{ appeal_country.3 }}],
                ['uz-ng', {{ appeal_country.4 }}], ['uz-qa', {{ appeal_country.5 }}],
                ['uz-su', {{ appeal_country.6 }}], ['uz-bu', {{ appeal_country.7 }}],
                ['uz-nw', {{ appeal_country.8 }}], ['uz-kh', {{ appeal_country.9 }}],
                ['uz-si', {{ appeal_country.10 }}], ['uz-ji', {{ appeal_country.11 }}],
                ['uz-qr', {{ appeal_country.12 }}]
            ];

            // Create the chart
            Highcharts.mapChart('container', {
                chart: {
                    map: topology
                },

                title: {
                    text: "Xarita bo'yicha murojaatlar soni"
                },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },

                colorAxis: {
                    min: 0
                },

                series: [{
                    data: data,
                    name: 'viloyat',
                    states: {
                        hover: {
                            color: '#28a74590'
                        }
                    },
                    dataLabels: {
                        enabled: false,
                        format: '{point.name}'
                    }
                }]
            });

        })();
    </script>
{% endblock scripts %}
