.navbar-sidebar .navbar__list .noti__item i {
  font-size: 20px;
  color: inherit;
}
.navbar-sidebar .navbar__list .noti__item .quantity {
  left: 11px;
  top: 11px;
  right: unset;
}
.modal::before {
  content: none;
}
body {
  overflow: hidden;
}
.appeal__filter {
  position: fixed;
  left: 320px;
  top: 120px;
  background-color: #fff;

  width: 250px;
  padding: 20px;
}
.appeal__filter_in_date {
  left: unset;
  right: 20px;
}
.appeal__filter ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.appeal__filter h4 {
  margin-bottom: 10px;
}
.appeal__filter label:hover {
  color: #4272d7;
  cursor: pointer;
}
.appeal__filter select:hover,
.appeal__filter input[type="radio"]:hover {
  cursor: pointer;
}
.table-responsive {
  max-height: 700px;
}

.table-responsive {
  padding-top: 76px;
}

thead {
  position: fixed;
  top: 177px;
}
tr {
  height: 76px;
}
td,
th {
  padding: 0 !important;
  text-align: center;
  vertical-align: middle !important;
  padding: 0 10px !important;
}
td {
  padding: 0 30px !important;
}
th:first-child,
td:first-child {
  width: 50px;
  padding: 0 !important;
}
th:nth-child(5),
td:nth-child(5) {
  width: 130px;
}
th:nth-child(3),
td:nth-child(3) {
  width: 75px;
}
th:nth-child(4),
td:nth-child(4) {
  width: 85px;
}
th:last-child,
td:last-child {
  padding-right: 35px !important;
}

th:nth-child(2) {
  padding: 0 160px !important;
  padding-right: 144px !important;
}
td:nth-child(2) {
  padding: 0 !important;
}
th:nth-child(5) {
  padding: 0 45px !important;
  padding-right: 25px !important;
  padding-left: 50px !important;
}
td:nth-child(5) {
  padding-right: 0 !important;
}
th:last-child {
  padding: 0 118px !important;
}
td:nth-child(3) {
  padding-left: 10px !important;
}
td:nth-child(4) {
  padding-right: 10px !important;
}
th:nth-child(4) {
  padding-right: 0 !important;
  padding-left: 20px !important;
}
th:nth-child(3) {
  padding-left: 0 !important;
  padding-right: 20px !important;
}
