body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  /* font-family: 'Roboto', sans-serif; */

  font-style: italic;
  font-size: 20px;
  color: #40324b;
  overflow: hidden;
  
}

/* ///////////////////////////////////header */

.logo {
  display: block;

  transition: .1s linear;
}

.logo:hover {
  opacity: 0.8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 80px;
  background-color: #cccccc69;
  box-shadow: 0 2px 10px 1px #ccc;
  z-index: 20;
}

.header:hover .dropdown__list {
  z-index: -20;
}

.nav__list {
  display: flex;
  align-items: center;

}

.nav__item {
  position: relative;
}

.nav__link {
  display: block;
  padding: 30px 50px;
  color: inherit;

  text-decoration: none;

  transition: .2s linear;
  transition: color .25s linear;
}

.nav__link:hover {
  /* background-color: #ccc; */
  color: #fff;

}

.nav__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff40;
  z-index: -1;
  transition: transform .7s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
}

.nav__item:hover::before {
  transform: scaleY(1);
}

.dropdown__list {
  position: absolute;
  background-color: #afafafd3;
  box-shadow: 0 .5px 5px .5px #ccc;

  right: 0;
  top: -350%;

  transition: .3s linear;
}

.nav__item:hover {
  z-index: 10;
}

.nav__item:hover > .dropdown__list {
  z-index: 3;
  top: 100%;
}

.dropdown__link {
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: center;

  transition: .2s linear;
  transition: color .25s linear;

  position: relative;
  padding: 10px 100px;
  width: 410px;
  font-size: 18px;
}

.nav__item:nth-child(3) .dropdown__link {
  width: 530px;
}

.dropdown__link:hover {
  color: #fff;

}

.dropdown__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff7c;
  z-index: -1;
  transition: transform 1.2s;
  transform-origin: 1 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.dropdown__link:hover::before {
  transform: scaleX(1);
}



/* ///////////////////////////////////main */

.content {
  display: flex;
  align-items: center;
  padding-top: 45px;

  position: relative;
}

.content__inn::before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100vw;

  background-color: #00000082;
  z-index: 3;

  transition: .3s ease-in-out;
  transition: right .3s linear;
}

#content.before::before {
  right: 0;

}

p {
  margin: 0;
  padding: 0;
}

.main__block {
  background: linear-gradient(
    to top right,
    rgba(150, 150, 150, 1),
    rgba(150, 150, 150, 0.4)
  );

  border-radius: 20px;
  
  /* width: 1000px; */


  display: flex;

}

.main__sidebar {
  /* width: 30%; */

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px 30px 30px 20px;
}
/* ////////////////////////////////////////////sidebar */

.sidebar {
  margin-right: auto;
  margin-left: 20px;
}

.sidebar__title {
  text-align: center;
}

.sidebar .form__header {
  margin-bottom: 0;
}

.swiper {
  padding: 20px 25px;
  width: 350px;
  height: 700px;
  border-radius: 0 0 20px 20px;

  background: linear-gradient(
    to top right,
    rgba(150, 150, 150, 1),
    rgba(150, 150, 150, 0.4)
  );
}

.swiper-slide{
  width: 300px;
  height: 150px;
  border-radius: 30px;

  position: relative;
  text-align: center;

  transition: 1s linaer;

}

.swiper-slide::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.164);
  border-radius: 30px;

}

.swiper-slide:hover::before {
  background-color: transparent;
}

.swiper__image-block {
  cursor: pointer;
}


.swiper__link {
  /* display: block;
  width: 100%;
  height: 100%; */
}

.swiper__image {
  transform: scale(1);

}

.swiper-link:hover .slider_image {
}

.slider_image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.swiper__title {
  position: absolute;
  left: 0;
  bottom: 0;

  font-size: 20px;
}

.rektor_position {
  width: 210px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}

.main__sidebar_content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 19px;
  padding-bottom: 15px;
  font-size: 17px;
  letter-spacing: 1px;
}

.rektor__info__item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.rektor__info__item:last-child {
  margin-bottom: 0;
}

.rektor__info__item_span {
  font-weight: 700;
}

.rektor__info__item_desc {
  margin-left: 20px;
  margin-top: 5px;
}

.rektor_tell,
.rektor_email {
  color: inherit;
  text-decoration: none;

  transition: all .2s linear;
}

.rektor_tell:hover,
.rektor_email:hover {
  color: #fff;
}


.social {
  margin-top: 20px;
}

.social__list {
  display: flex;
  /* margin: 0 auto; */
  margin-top: 15px;
  margin-left: 20px;
}

.social__item {
  margin-right: 10px;

  transition: .1s linear;
}

.social__item:hover {
  transform: scale(1.1);
}

.social__item:last-child {
  margin-right: 0;
}

.main__sidebar_img {
  overflow: hidden;
  border-radius: 20px 30px 0 0;
}

.main__sidebar_img img {
  opacity: 0.95;

  transition: .2s ease-in;
}

.main__sidebar_img:hover img {
  transform: scale(1.1);

}

.main__content {
  position: relative;
}

.main__content::before {
  content: '';
  display: block;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 10px;
  width: 470px;
  height: 460px;
  background-image: url('./images/logotype.png');
  background-repeat: no-repeat;
  background-size: contain;

  opacity: 0.11;
}

.main__content_header {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}

/* //////////////////////////////////////////////Progress */

.progress_bar {
  display: flex;
  margin-bottom: 10px;
}

.step {
  text-align: center;
  width: 100%;

  position: relative;
}

.step__name {
  font-size: 20px;
  font-weight: 500;
  color: inherit;
  margin-bottom: 8px;

  transition: .2s;
}

.step__name.active {
  color: #fff;
}

.bullet {
  position: relative;

  height: 40px;
  width: 40px; 
  border: 2px solid #ebe7e7;
  display: inline-block;
  border-radius: 50%;

  transition: 0.2s;
}

.bullet.active {
  border-color: #fff;
  background: #fff;
}


.bullet::before,
.bullet::after {
  position: absolute;
  content: '';
  bottom: 17px;
  right: -202px;
  height: 3px;
  width: 200px;
  background-color: #ccc;
}

.step:last-child .bullet::before,
.step:last-child .bullet::after {
  display: none;
}

.bullet.active::after {
  background-color: #fff;


  transform: scaleX(0);
  transform-origin: left;
  animation: animate .3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scale(1);
  }
}

.bullet__span {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.bullet.active .bullet__span {
  display: none;
}

.check {
  position: absolute;
  left: 50%;
  top: 66%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.check::before {
  display: none;
}

.check.active.check::before {
  display: block;
  /* color: #fff; */
  font-size: 20px;

}


/* //////////////////////////////////////////////FORM */

.main__content_form {
  width: 800px;
  padding: 15px 40px 30px;
  text-align: center;

}

.form__header {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;

}

.form__outher {
  width: 100%;
  overflow: hidden;
}

.form {
  display: flex;
  width: 400%;
}

.form__page {
  width: 25%;
  transition: margin-left .3s ease-in-out;
}

.form__page:last-child .form__field:first-child {
  margin-bottom: 0;
}

.form__page:last-child .form__field:nth-child(2) {
  margin-top: 35px;
}

.form__title {
  text-align: left;
  font-size: 25px;
}

.form__field {
  height: 50px;
  width: 800px;
  margin-top: 45px;
  margin-bottom: 45px;

  position: relative;
  display: flex;
}

.form__category {
  margin-top: 50px;
}

.selects .form__field {
  margin: 70px 0;
}

.form__field_textarea {
  height: unset;
}

.form__label {
  position: absolute;
  top: -30px;
  /* font-weight: 600; */
  color: inherit;
  font-size: 21px;

  transition: color .2s linear;
}

.select_container {
  width: 90%;

  position: relative;

}

.select_container::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 0 10px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  z-index: -1;

  transition: border-color .2s linear;
}

.select_container:hover::before {
  border-color: rgba(255, 255, 255, 0.479) transparent transparent transparent;

}

.form__select {
  width: 100%;
  padding-left: 15px;
  font-size: 18x;
  font-weight: 500;
  background-color: transparent;
  border: none;

  border-bottom: 1.5px solid #ccc;
  color: #40324b;
  height: 32px;
}

.form__select:focus ~ .form__label {
  color: #fff;
}

.form__select {
  appearance: none;

}

.form__select_option {
  background: #ccc !important;
}

.form__input {
  height: 50%;
  width: 90%;
  border: none;
  font-size: 18px;
  padding-left: 8px;
  background-color: transparent;
  color: inherit;
  font-style: inherit;
  letter-spacing: 1.5px;

  border-bottom: 1.5px solid #ccc;

  transition: .1s linear;
}

.textarea {
  height: 140px !important;

  border: 1px solid #ccc;
  width: 90% !important;
  font-style: inherit;
  padding: 5px;
  padding-left: 10px;
}

.textarea:focus {
  border: 2px solid #ccc;
  box-shadow: 0 0 2px 0 #ccc;
}

.form__input:focus {
  box-shadow: 0 2px 0 #ccc;
}

.btn {
  width: 90%;
  height: calc(100% + 5px);
  border: none;
  font-size: 18px;
  font-style: inherit;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  cursor: pointer;
  background-color: #cccccc61;
  border: 1px solid #ccc;
  border-radius: 50px;
  color: inherit;

  transition: color 0.3s linear;
  position: relative;
}

.btn:hover {
  color: #fff;
  border: none;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #fff;
  z-index: -1;
  transition: transform .7s;
  transform-origin: 1 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.btn:hover::before {
  transform: scaleX(1);
}



.btn_first {
  margin-top: 167px;
}

.btn_second {
  margin-top: 126px;
  margin-bottom: 5px;
}

.prev {
  margin-right: 1%;
  width: 44%;
  font-size: 17px;
}

.next {
  margin-left: 1%;
  width: 44%;
}

.submit {
  width: 44%;
  margin-left: 1%;
}

.btn_third {
  margin: 10px 0;
  margin-bottom: 0;
  margin-top: 40px;
}

.accept_block {
  display: flex;
  justify-content: center;

}

.accept_desc {
  width: 600px;
  letter-spacing: 2px;
}

.warning {
  color: #8f0c0c;
  font-size: 24px;
}

.rules {
  color: rgb(0, 4, 255);
  transition: .2s linear;
  text-decoration: underline;
}

.rules:hover {
  opacity: .6;
  text-decoration-color: rgba(0, 4, 255, .6);
}

.form__input:focus ~ .form__label {
  color: #fff;
}

#form__file {
  display: none;
}



.form__file_label {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  border: none;
  font-size: 16px;
  font-style: inherit;
  letter-spacing: 1px;

  cursor: pointer;
  background-color: rgba(204, 204, 204, 0.089);
  border: 1px solid #ccc;
  border-radius: 15px;
  color: inherit;

  transition: color 0.3s linear;
  position: relative;
}

.form__file_label:hover {
  color: #fff;
  border: none;
}

.form__file_label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #fff;
  z-index: -1;
  transition: transform .7s;
  transform-origin: 0 1;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
}

.form__file_label:hover::before {
  transform: scaleY(1);
}

.organization__name {
  display: none;
}

.organization__name.org_name_active {
  display: block;
}


/* /////////////////////////////////statistics */

.statistics {
  margin-left: auto;
  margin-right: 20px;
}

.statistics__inner {
  width: 370px;
}
.statistics__top {
  background: linear-gradient( 
    to top right, 
    rgba(150, 150, 150, 1), 
    rgba(150, 150, 150, 0.4) 
    );
  
  border-radius: 20px;
  margin-bottom: 30px;
}


.statistics__title {
  background-color: #e5e5e56e;
  border-radius: 20px 20px 0 0;
  text-align: center;

  padding: 20px 5px 10px;
  font-size: 30px;
}

.statistics__list {
  padding: 0 25px;
  padding-bottom: 20px;
}

.statistics__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 10px;
  font-weight: unset;

  position: relative;

  transition: .2s linear;
}

.statistics__item:last-child {
  font-weight: 600;
}

.statistics__item:hover {
  color: #fff;
}

.statistics__item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;

  transition: .1s linear;
}

.statistics__item:last-child::before {
  background-color: #40324b;
  height: 1.1px;
}


.statistics__item:hover::before {
  background-color: #fff;
  height: 1.1px;
}

.statistics__count {
  background-color: #e5e5e540;
  padding: 1px 10px;
  border-radius: 12px;

  transition: .2s linear;
}

.statistics__item:hover .statistics__count {
  color: #fff;
}

.statistics__bottom {
  background: linear-gradient( 
    to top right, 
    rgba(150, 150, 150, 1), 
    rgba(150, 150, 150, 0.4) 
    );
  
  border-radius: 20px;
}

.statistics__bottom .statistics__title {
  margin-bottom: 0;
}

.statistics__result {
  padding: 30px;
  padding-top: 20px;
}

.statistics__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.statistics__input {
  background: transparent;
  border: none;
  outline: none;

  padding-left: 5px;
  font-size: 22px;
  color: inherit;

  transition: .2s ease;
  border-bottom: 1px solid #ccc;
  border-bottom-width: 2px;
}

.statistics__input::placeholder {
  color: #40324b;
  opacity: 0.8;
  padding-left: 5px;
}

.statistics__input:focus {
  border-color: #fff;
}

.statistics__input::-webkit-inner-spin-button {
  display: none;
}

.statistics__btn {
  margin-top: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  text-transform: uppercase;

  padding: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;

  
  transition: color 0.3s linear;
  position: relative;
}

.statistics__btn:hover {
  color: #fff;
  border-color: transparent;
}

.statistics__btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  z-index: -1;
  transition: transform .7s;
  transform-origin: 1 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.statistics__btn:hover::before {
  transform: scaleX(1);
}

.modal__consent {
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translate(-50%, -50%);
  background-color: rgba(204, 204, 204, 0.904);
  z-index: 30;
  letter-spacing: 1px;
  
  border-radius: 50px;
  padding: 50px;
  padding-top: 30px;
  display: block;
  transition: top .4s linear;
}

.modal__consent_close {
  width: 35px;
  height: 35px;
  display: block;
  top: 30px;
  right: 30px;
  position: absolute;
  cursor: pointer;
  transition: opacity .2s linear;
}

.modal__consent_close:hover {
  opacity: .4;
}

.modal__consent_close::before,
.modal__consent_close::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  left: 0;
  top: 0;
  background-color: #40324b;
  transform: rotate(45deg);

}

.modal__consent_close::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.modal__consent::before:hover,
.modal__consent::after:hover {
  opacity: 0.6;
}

.modal__consent.active {
  top: 50%;
}

.modal::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000082;
  z-index: 20;
  display: block;
  transition: bottom .2s linear;
}

.modal.before::before {
  bottom: 0;
}

.modal__consent_item {
  margin-bottom: 30px;
}

.modal__consent_item:last-child {
  margin-bottom: 0;
}

.modal__consent_item:first-child {
  font-weight: 600;
  font-size: 25px;
}

.modal__consent_item p {
  margin-left: 50px;
  margin-bottom: 20px;
  position: relative;
}

.modal__consent_item span {
  font-weight: 600;
  font-size: 21px;
}

.modal__consent_item p::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 13px;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}

.modal__consent_item p:last-child {
  margin-bottom: 0;
}
